@{
    @model IEnumerable<Audiology.Web.ViewModels.Songs.SongListViewModel>
    Layout = "";
}
    <h2>Newest songs</h2>

<div class="row">
    @foreach (var song in Model)
    {
        <div class="col-md-4" style="height: 12rem;">
            <div class="text-center" style="width: 19rem; background-color: #f4f4f4">
                <img src="@(song.SongArtUrl == null ? song.AlbumCoverUrl : song.SongArtUrl)" class="rounded-top" style="width: 18rem; height: 10rem;" alt="Image not found" />
                <a href="#" class="stretched-link" style="text-decoration: none;
        color: black;">@song.Name.Replace(".mp3", "")</a>
        <h5 class="">@this.User.Identity.Name</h5>
            <form id="votesForm" method="post"></form>
            <div class="align-content-start">
                <a href="#" onclick="favourite('userId',@song.Id,null)"><i class="fas fa-heart" style="padding-left: 0px; color: black;"></i></a>
                <div id="favouritesCount" style="padding-left: 0px;" class="d-inline-block">@song.FavouritesCount</div>
            </div>
            <audio id="player" controls>
                <source src="~/Songs//@this.User.Identity.Name/@song.Name" type="audio/mp3">
            </audio>
            </div>
        </div>
}
</div>
