@{
    @model Audiology.Data.Models.ApplicationUser
}
    <div class="font-weight-bolder" style="margin-bottom: 1rem;">Artist info.</div>
<div class="row text-center" style="margin-bottom: 3rem;">

    <div class="col font-weight-lighter font-italic">
        <span class="d-block">First name:</span>
        <hr />
        <span class="d-block">Last name:</span>
        <hr />
        <span class="d-block">Birthday:</span>
        <hr />
    </div>
    <div class="col">
        <span class="d-block">@Model.FirstName</span>
        <hr />
        <span class="d-block">@Model.LastName</span>
        <hr />
        <span class="d-block">@Model.Birthday?.ToShortDateString()</span>
        <hr />
    </div>

</div>


