@{
    @model Audiology.Web.ViewModels.Profile.ArtistProfileViewModel
}

<div class="row align-items-center" style="background: linear-gradient(black, white); width: 100%; height: 20rem; margin-bottom: 2rem;">
    <div class="col-3"><img src="@Model.ProfilePicUrl" alt="Alternate Text" class="rounded-circle" width="250" /></div>
    <div class="col-2"><h1 class="text-center text-white bg-dark">@Model.UserName</h1></div>
</div>
<div class="row">
    <div class="col">
        <vc:newest-songs></vc:newest-songs>
    </div>

    <div class="col-5 border-left">
        <div>

        </div>

        <vc:user-details user-id="@Model.Id"></vc:user-details>
    </div>
</div>

