@{
    @model IEnumerable<Audiology.Web.ViewModels.Songs.SongsByAlbumViewModel>
}

<ol>
    @foreach (var song in Model)
    {
        <li style="margin-bottom: 1rem;"> <a asp-controller="Songs" asp-action="ById" asp-route-id="@song.Id" class="text-decoration-none" style="color: black;"><span>@song.Name.Remove(song.Name.LastIndexOf('.'))</span></a></li>
    }
</ol>