@{
    @using Audiology.Data.Models.Enumerations;
    @model Audiology.Web.ViewModels.Songs.SongEditViewModel
    this.ViewData["Title"] = "Song Edit";
}
<h1>Edit song: @Model.Name</h1>
@if (Model.SongArtUrl != null)
{
    <img src="@Model.SongArtUrl" class="img-fluid" style="width: 100%; height: 25rem" alt="Song cover can't be found sorry  :)" />
}


<form enctype="multipart/form-data" asp-controller="Songs" asp-action="Create">

    <div>
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="SongArtUrl"></label>
        <input asp-for="SongArtUrl" class="form-control" />
        <span asp-validation-for="SongArtUrl" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Description"></label>
        <input asp-for="Description" class="form-control" />
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    @if (Model.Albums != null)
    {
        <div>
            <label asp-for="AlbumId"></label>
            <select asp-for="AlbumId" asp-items="@Model.Albums.Select(x=> new SelectListItem(x.Name, x.Id.ToString()))" class="form-control">
                <option value="" selected disabled hidden>Select from existing albums</option>
                <option value=""></option>
            </select>
            <span asp-validation-for="AlbumId" class="text-danger"></span>
        </div>
    }

    <div>
        <label asp-for="Genre"></label>
        <select class="form-control" asp-for="Genre" asp-items="Html.GetEnumSelectList<Genre>()">
        </select>
        <span asp-validation-for="Genre" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Year"></label>
        <input asp-for="Year" class="form-control" />
        <span asp-validation-for="Year" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Producer"></label>
        <input asp-for="Producer" class="form-control" />
        <span asp-validation-for="Producer" class="text-danger"></span>
    </div>

    <hr />
    <button asp-controller="Songs" asp-action="Edit" type="submit" class="btn btn-dark btn-lg btn-block">UPDATE</button>
</form>
