@{
    @using Audiology.Data.Models.Enumerations;
    @model Audiology.Web.ViewModels.Songs.SongUploadViewModel
    this.ViewData["Title"] = "Song Upload";
}
    <h1>Upload to Audiology</h1>
    <p>Provide MP3, FLAC, WAV, ALAC, or AIFF for highest audio quality.</p>

    <form enctype="multipart/form-data" asp-controller="Songs" asp-action="Create">

        <div>
            <input type="file" class="form-control-file border" asp-for="Song">
        </div>
        <div>
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div>
            <label asp-for="SongArtUrl"></label>
            <input asp-for="SongArtUrl" class="form-control" />
            <span asp-validation-for="SongArtUrl" class="text-danger"></span>
        </div>
        <div>
            <label asp-for="Description"></label>
            <input asp-for="Description" class="form-control" />
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        @if (Model.Albums != null)
        {
            <div>
                <label asp-for="AlbumId"></label>
                <select asp-for="AlbumId"  asp-items="@Model.Albums.Select(x=> new SelectListItem(x.Name, x.Id.ToString()))" class="form-control">
                    <option value="" selected disabled hidden>Select from existing albums</option>
                </select>
                <span asp-validation-for="AlbumId" class="text-danger"></span>
            </div>
        }

        <div>
            <label asp-for="Genre"></label>
            <select class="form-control" asp-for="Genre" asp-items="Html.GetEnumSelectList<Genre>()">
            </select>
            <span asp-validation-for="Genre" class="text-danger"></span>
        </div>
        <div>
            <label asp-for="Year"></label>
            <input asp-for="Year" class="form-control" />
            <span asp-validation-for="Year" class="text-danger"></span>
        </div>        
        <div>
            <label asp-for="Producer"></label>
            <input asp-for="Producer" class="form-control" />
            <span asp-validation-for="Producer" class="text-danger"></span>
        </div>

        <hr />
        <button asp-controller="Songs" asp-action="Upload" type="submit" class="btn btn-dark btn-lg btn-block"><i class="fas fa-angle-double-up" style="margin-right: 1rem;"></i>UPLOAD<i class="fas fa-angle-double-up" style="margin-left: 1rem;"></i></button>
    </form>