@{
    @using Audiology.Web.ViewModels.Messages;
    this.ViewBag.Title = "Chat";
    @model IEnumerable<MessagesDropDownViewModel>
    string artistId = ViewBag.ArtistId;
}
<br />
@if (Model == null)
{
    <div>Model is null</div>
}
<div id="messagesList" class="border-left border-success border-right border-success" style="height: 10rem; font-size: 18px; padding-left: 1rem; padding-right: 1rem; margin-top: 2rem;">
    @foreach (var message in (IEnumerable<MessagesListViewModel>)ViewData["Messages"])
    {
        <div style="background-color: aliceblue; border-radius: 10px; padding-left: 7px; padding-right: 7px; margin-bottom: 10px;">
            <span>[@message.UserName]</span>
            <span>[@message.CreatedOn]</span>
            <span>@message.Text</span>
        </div>
    }
</div>
<div class="container" style="width: inherit;">
    <div id="message-holder" class="mt-3 d-flex justify-content-start">
        <input class="musicianId" type="hidden" value="@ViewBag.ArtistId" />
        <input id="messageInput" class="pl-3" type="text" style="width: 69%;" placeholder="Message..." />
        <button id="sendButton" class="ml-3 btn btn-success btn-lg"><i class="fab fa-facebook-messenger"></i> Send</button>
    </div>
</div>

<!-- Add check if logged in user is the current artist -->
@if (Model != null)
{
    <div>
        <label>Select convos :</label>
        <select id="userId" asp-items="@Model.Select(x=> new SelectListItem(x.Name, x.UserId.ToString()))" class="form-control">
            <option value="" selected disabled hidden>Select conversation</option>
        </select>
    </div>
}