@{
    @using Audiology.Data.Models.Enumerations;
    @model Audiology.Web.ViewModels.Albums.AlbumUploadViewModel
    this.ViewData["Title"] = "Album Upload";
}
<h1>Upload to Audiology</h1>

<form enctype="multipart/form-data" asp-controller="Albums" asp-action="Upload">

    <div>
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="CoverUrl"></label>
        <input asp-for="CoverUrl" class="form-control" />
        <span asp-validation-for="CoverUrl" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Genre"></label>
        <select class="form-control" asp-for="Genre" asp-items="Html.GetEnumSelectList<Genre>()">
        </select>
        <span asp-validation-for="Genre" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Producer"></label>
        <input asp-for="Producer" class="form-control" />
        <span asp-validation-for="Producer" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Description"></label>
        <input asp-for="Description" class="form-control" />
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>    
    <div>
        <label asp-for="ReleaseDate"></label>
        <input asp-for="ReleaseDate" class="form-control" />
        <span asp-validation-for="ReleaseDate" class="text-danger"></span>
    </div>

    <hr />
    <button asp-controller="Albums" asp-action="Upload" type="submit" class="btn btn-dark btn-lg btn-block"><i class="fas fa-angle-double-up" style="margin-right: 1rem;"></i>UPLOAD<i class="fas fa-angle-double-up" style="margin-left: 1rem;"></i></button>
</form>