@using Audiology.Common
@using System.Text;
@{
    @model IEnumerable<Audiology.Web.ViewModels.Songs.SongListViewModel>
    this.ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to @GlobalConstants.SystemName!</h1>
</div>

<h1 class="text-center">All Songs</h1>

<style>
    .playerContainer {
        margin: 75px auto;
        max-width: 500px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }
</style>

<div class="row">
    @foreach (var song in Model)
    {
        <div class="col-md-4">
            <div class="playerContainer" style="width: 18rem;">
                <img src="@song.AlbumCoverUrl" style="width: 18rem; height: 10rem;" alt="Image not found" />
                <h6 class="text-center">@song.Name.Replace(".mp3", "")</h6>
                <h5 class="text-center">@this.User.Identity.Name</h5>
                <audio id="player" controls>
                    <source src="~/Songs//@this.User.Identity.Name/@song.Name" type="audio/mp3">
                </audio>
            </div>
        </div>
    }
</div>

@section Scripts{
    <script src="https://cdn.plyr.io/3.5.10/plyr.js"></script>
    <script>

        const player = new Plyr('audio', {});

        // Expose player so it can be used from the console
        window.player = player;
    </script>
}
