@using Audiology.Common
@using System.Text;
@{
    @model IEnumerable<Audiology.Web.ViewModels.Songs.SongListViewModel>
    this.ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <div class="d-block text-center" style="margin-bottom: 2rem;">
        <h3 class="d-inline p-2 text-white bg-dark"> Random Kanye West quotes every minute: </h3>
    </div>
    <div id="kanye" class="d-inline p-2 text-center text-white bg-dark">
        
    </div>
</div>
<h1 class="text-center">All Songs</h1>

<div>
    <vc:newest-songs></vc:newest-songs>
</div>




@section Scripts{
    <script>
        function kanye () {
            $.ajax({
                url: "https://api.kanye.rest/?format=text",
                type: "GET",
                contentType: "text/plain",
                success: function (data) {
                    $("#kanye").html(data);
                    setTimeout(kanye, 60000)
                },
                error: function (req, status, error) {
                    console.log(error);
                }
            });
        };
    </script>
}
