@using Audiology.Common
@using System.Text;
@{
    @model IEnumerable<Audiology.Web.ViewModels.Songs.SongListViewModel>
    this.ViewData["Title"] = "Home Page";
}

<div class="text-center" style="margin-bottom: 1rem;">
    <div class="d-block text-center" style="margin-bottom: 1rem; padding-top: 2rem;">
        <h6 class="d-inline p-2 text-white bg-dark"> Here is a random Kanye West quote : </h6>
    </div>
    <div id="kanye" class="d-inline p-2 text-center text-white bg-dark font-weight-bold">

    </div>
</div>

<div><h4>Newest songs :</h4></div> <!-- Add more carousels with genres -->
<div class="newest-songs">
    @foreach (var song in Model)
    {
        <div>
            <img src="@(song.SongArtUrl == null ? song.AlbumCoverUrl : song.SongArtUrl)" class="rounded-top" width="180" height="160" alt="Image not found" />
            <div class="text-center" style="width: 50%">
                <a asp-controller="Songs" asp-action="ById" asp-route-id="@song.Id" style="text-decoration: none; color: black;">@song.Name.Replace(".mp3", "")</a>
                <h5 class="">@this.User.Identity.Name</h5>
            </div>
        </div>
    }
</div>

<br />
<vc:rap-songs></vc:rap-songs>

<hr />
<vc:newest-albums></vc:newest-albums>

<hr />
<vc:top-songs></vc:top-songs>



@section Scripts{
    <script>
        $(document).ready(function () {
            $.ajax({
                url: "https://api.kanye.rest/?format=text",
                type: "GET",
                contentType: "text/plain",
                success: function (data) {
                    $("#kanye").html(data);
                },
                error: function (req, status, error) {
                    console.log(error);
                }
            });
        });

        $(document).ready(function () {
            $('.newest-songs').slick({
                dots: true,
                infinite: true,
                slidesToShow: 4,
                slidesToScroll: 3,
                centerMode: true,
                responsive: [
                    {
                        breakpoint: 1024,
                        settings: {
                            slidesToShow: 3,
                            slidesToScroll: 3,
                            infinite: true,
                            dots: true
                        }
                    },
                    {
                        breakpoint: 600,
                        settings: {
                            slidesToShow: 2,
                            slidesToScroll: 2
                        }
                    },
                    {
                        breakpoint: 480,
                        settings: {
                            slidesToShow: 1,
                            slidesToScroll: 1
                        }
                    }
                    // You can unslick at a given breakpoint now by adding:
                    // settings: "unslick"
                    // instead of a settings object
                ]
            });
        });
    </script>

}
