@using Audiology.Common
@using System.Text;
@{
    @model IEnumerable<Audiology.Web.ViewModels.Songs.SongListViewModel>
    this.ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to @GlobalConstants.SystemName!</h1>
</div>

<h1 class="text-center">All Songs</h1>

<div>
    <vc:newest-songs></vc:newest-songs>
</div>

@section Scripts{
    <script>

    </script>
}
